<!-- dialog-box.component.html -->
<h1 mat-dialog-title><strong>{{action}} Employee</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="Name" matInput [(ngModel)]="local_data.name">    
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="Age" matInput [(ngModel)]="local_data.age">  
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="Designation" matInput [(ngModel)]="local_data.designation">
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="Mobile Number" matInput [(ngModel)]="local_data.mobileNumber">
  </mat-form-field>
  <div *ngIf="action == 'Delete'">Are you sure you want to delete "{{local_data.name}}"?</div>  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>